Q1. 'Data Analyst'

In [31]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [32]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [33]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [34]:
driver.get("https://www.naukri.com")

In [35]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Analyst')

In [1]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

NameError: name 'driver' is not defined

In [37]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [38]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [39]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [40]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [41]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [42]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [43]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [44]:
df=pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name, 'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru,Aon Hewitt,2-4 Yrs
3,Commercial Stream Data Analyst,Bangalore/Bengaluru,Schneider Electric,3-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,Cargill,2-7 Yrs
5,Job opportunity Switzerland based MNC / JR. Da...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-2 Yrs
6,Job opportunity Switzerland based MNC / JR. Da...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-2 Yrs
7,Data Analyst,Bangalore/Bengaluru,Blinkit,0-2 Yrs
8,Global Price Master Data Analyst,Bangalore/Bengaluru,Cargill,4-7 Yrs
9,Data Analyst,Bangalore/Bengaluru,TE Connectivity,3-6 Yrs

Q2. 'Data Scientist'

In [46]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [47]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [48]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [49]:
driver.get("https://www.naukri.com")

In [51]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Scientist')

In [52]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [53]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [54]:
job_title=[]
job_location=[]
company_name=[]

In [55]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [56]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [57]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [61]:
print(len(job_title),len(job_location),len(company_name))

0 0 0

In [59]:
df=pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name})
df

Empty DataFrame
Columns: [Job_title, Job_location, Company_name]
Index: []