Q2. Data Scientist

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com")

In [5]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]

In [9]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [10]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [11]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [12]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [13]:
df=pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
2,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
5,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",United Phosphorus Limited
8,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
9,ACN - Applied Intelligence - Data & Insights -...,Bangalore/Bengaluru,Accenture