Q3. Data Scientist, 3-6 lakhs filter

In [28]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [29]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com")
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Scientist')
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [30]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
salary.click()

In [31]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [32]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [33]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [34]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [35]:
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [36]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 0 0 0

In [38]:
df=pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name, 'Exp_required':experience_required})
df

Empty DataFrame
Columns: [Job_title, Job_location, Company_name, Exp_required]
Index: []